import path from "path";
import fs from "fs";
import nodeExternals from "webpack-node-externals";

const __dirname = path.resolve();

// Function to dynamically generate entry points for all JavaScript files inside the scripts folder
function generateScriptEntries() {
  const scriptsPath = path.resolve(__dirname, "dist", "src", "scripts");
  const files = fs.readdirSync(scriptsPath);
  const entries = {};

  files.forEach((file) => {
    if (file.endsWith(".js")) {
      const name = path.parse(file).name;
      entries[name] = path.resolve(scriptsPath, file);
    }
  });

  return entries;
}

export default {
  target: "node",
  entry: {
    main: "./index.js",
    // ...generateScriptEntries(), // Dynamically generate entry points for scripts
  },
  output: {
    filename: "[name].bundle.cjs",
    path: path.resolve(__dirname, "dist", "src", "bundle-scripts"),
  },
  mode: "development",

  module: {
    rules: [
      {
        test: /\.js$/,
        exclude: /node_modules/,
        use: {
          loader: "babel-loader",
          options: {
            presets: ["@babel/preset-env"],
          },
        },
      },
    ],
  },
  externals: [nodeExternals()],

  // Additional configuration goes here
};
