* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.trash {
  padding: 90px;
}

.link-redirect-button {
  text-decoration: none;
  color: wheat;
  padding: 11px 20px;
  background-color: cornflowerblue;

  border-radius: 10%;
}
