<section
  class="w-full h-auto bg-gray-50 lg:block lg:w-full bg-cover rounded-l-lg"
  style="background-image: url('../../frontend/public/emailsent.png')"
>
  <div
    class="flex flex-col items-center backdrop-blur-sm justify-center px-0 py-8 mx-auto md:h-screen lg:py-0"
  >
    <a href="#" class="flex items-center mb-6 text-4xl font-bold text-gray-900">
      <img
        class="w-10 h-10 mr-2"
        src="../../frontend/public/exsquared_logo.jpg"
        alt="logo"
      />
    </a>
    <div
      class="w-full p-10 bg-white flex flex-col gap-4 items-center justify-center rounded-lg shadow md:mt-0 sm:max-w-lg sm:p-8"
    >
      <!-- Adjusted max-width to sm:max-w-lg -->
      <img
        class="w-72 h-60 mr-2"
        src="../../frontend/public/emailsent.png"
        alt="logo"
      />
      <h2
        class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl"
      >
        Email Sent
      </h2>
      <div id="email">
        We have sent an email to <span id="emailText"></span> with the reset
        password link. After receiving the email, follow the link.
      </div>
      <div class="w-full h-[1px] bg-black"></div>
      <div>
        If you not got any mail
        <a class="text-sunsetorange-600">Resend Confirmation Email</a>
      </div>
      <!-- <button class="text-sunsetorange-800" id="tologin">
        Back to login Page
      </button> -->
    </div>
  </div>
  <div id="toast">
    <div id="toast_img"></div>
    <div id="desc"></div>
  </div>
</section>
