.trash {
  padding: 90px;

  background: #ccc;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search-bar {
  padding: 6px;
  border: none;
  font-size: 17px;
}

.search-form {
  float: right;
}
.search-bar-button {
  padding: 6px;
  border: none;
  font-size: 17px;
  float: right;
}
